@using Mongo.Models.Recipe
@model IEnumerable<RecipeModel>
@{
    Layout = "_Layout1";
}
@section Styles {
    <link rel="stylesheet" href="~/css/main_style.css">
    <link rel="stylesheet" href="~/css/recepts_style.css">
}
<main class="main">
    <div class="container3">
        <div class="main__inner">
            <div class="main__label">
                <div class="main__item">
                    <div class="main__item1">
                        <div class="meal__stars">5.0</div>
                        <div class="main__kolichestvo">@Model.Count() рецептов</div>
                    </div>
                    <h1 class="main__item-title1">Мои рецепты:</h1>
                </div>
                <div class="main__item">
                    <input type="button" class="main__item-btn" value="Добавить" onclick="window.location.href='@Url.Action("Constructor", "Recipe")';" />
                </div>
            </div>
            <div class="recipes__items-2">
                @foreach (var item in Model)
                {
                    <a href="@Url.ActionLink("Index","Recipe",new { id = item.Id })">
                        <div class="recipes__item-2">
                            <h2 class="recipes__title">@item.Title</h2>
                            <div class="recipes__time">@item.CookingTimeMinutes</div>
                            <div class="bottom">
                                <div class="meal__stars">@item.Raiting.ToString("0.0")</div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</main>