<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookBookServer</title>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/main_style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <nav class="header__nav">
                    <div class="header__logo">
                        <span class="header__logo-link">@Html.ActionLink("ВашСуШеф.рф", "Index", "Home")</span>
                    </div>
                    <ul class="header__menu">
                        <li class="header__menu-item">
                            @Html.ActionLink("Главная", "Index", "Home")
                        </li>
                        <li class="header__menu-item">
                            @Html.ActionLink("Мои рецепты", "Recipes", "Recipe")
                        </li>
                        <li class="header__menu-item">
                            <a href="#">Избранное</a>
                        </li>
                    </ul>
                </nav>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="header__profile">
                        <div class="header__profile-name">@User.Identity.Name</div>
                        <a class="header__profile-link" href="#">
                            <img class="header__profile-img" src="~/images/page1/prifile.png" alt="">
                        </a>
                        <a class="header__profile-link" style="margin-left: 10px;" href="@Url.Action("SignOut", "Auth")">
                            <img class="header__out-img" src="~/images/page1/out.svg" alt="">
                        </a>
                    </div>
                }
                else
                {

                    <input type="button" class="header__btn red-btn" value="Войти" onclick="window.location.href='@Url.Action("SignIn", "Auth")';" />
                }
            </div>
        </div>
    </header>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
