@model CookBookServer.Models.DTO.Auth.SignInDTOModel;


@{
    Layout = null;
}

<div>Пожалуйста, введите свои данные!</div>

<div>
    @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post))
    {
        if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <p class="failed" style="color:red;">
                @ViewBag.Error
            </p>
        }

        <p class="field">
            @Html.EditorFor(x => x.Login, new { htmlAttributes = new { placeholder = "Логин" } })
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { placeholder = "Пароль" } })
            <input type="password" name="Password" placeholder="Пароль" />
            <i class="icon-lock icon-large"></i>
        </p>
        <p class="field"> <a href="@Url.Action("Recover", "Auth")">Забыли пароль?</a> </p>
        <p class="field"> <a href="@Url.Action("SignUp", "Auth")">Зарегестрироваться</a> </p>
        <p class="submit">
            <button type="submit" name="submit"><i class="icon-arrow-right icon-large">Отправить</i></button>
        </p>
    }
</div>
