@model DTOModels.SignInDTOModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Авторизация</title>

    <link rel="stylesheet" href="~/css/auth_style.css">
</head>
<body>

    <main class="auth">
        <div style="max-width: 365px;">
            @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post, new { htmlAttributes = new { @class = "auth__form" } }))
            {
                <h1 class="auth__title title">Вход</h1>

                @if (!String.IsNullOrEmpty(ViewBag.Error))
                {
                    <input class="auth__input input" style="color:red;border-bottom:none;" value="@ViewBag.Error" />
                }

                @Html.EditorFor(x => x.Login, new { htmlAttributes = new { @class = "auth__input input", placeholder = "Логин", type = "text", required = "" } })
                @Html.ValidationMessageFor(x => x.Login)
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "auth__input input", placeholder = "Пароль", type = "password", required = "" } })
                @Html.ValidationMessageFor(x => x.Password)
                <div class="auth__btns">
                    <button class="auth__btn red-btn" type="submit">Войти</button>
                    <div class="auth__links">
                        <a href="@Url.Action("Recover", "Auth")">Забыли пароль?</a>
                        <a href="@Url.Action("SignUp", "Auth")">Зарегистрироваться</a>
                    </div>
                </div>
            }
        </div>
    </main>
</body>

</html>