@model CookBookServer.Models.DTO.Auth.SignUpDTOModel;

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Регистрация</title>

    <link rel="stylesheet" href="~/css/registration_style.css">
</head>
<body>
    @if (ViewBag.ShowResult != null && ViewBag.ShowResult)
    {
        <div>
            Пользователь создан! Для дальнейшей работы на сайте необходимо подтвердить учетную запись.
            Письмо с ссылкой для подтверждения выслано Вам на указанный адрес электронной почты (todo).
        </div>
        <input type="button" class="header__btn red-btn" value="На главную" onclick="window.location.href='../../';" />
    }

    else
    {
        <main class="registration">

            <form class="registration__form" action="/Auth/SignUp" method="post">
                <h1 class="registration__title title">Регистрация</h1>
                <input class="registration__input input" name="Email" required type="email" placeholder="Введите адрес электронной почты">
                <input class="registration__input input" name="Login" required type="text" placeholder="Задайте логин">
                <input class="registration__input input" name="FirstName" required type="text" placeholder="Введите имя">
                <input class="registration__input input" name="LastName" required type="text" placeholder="Введите фамилию">
                <input class="registration__input input" name="Password" required type="password" placeholder="Задайте пароль">
                <button type="submit" class="registration__btn red-btn">Зарегистрироваться</button>
            </form>

        </main>

        @*<div>
                @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post))
                {
                    if (!String.IsNullOrEmpty(ViewBag.Error))
                    {
                        <p class="failed" style="color:red;">
                            @ViewBag.Error
                        </p>
                        <p class="submit">
                            <button type="button" name="home"><i class="icon-arrow-right icon-large">Зарегистрироваться</i></button>
                        </p>
                    }

                    <p class="field">
                        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { placeholder = "Введите адрес электронной почты" } })
                        @Html.ValidationMessageFor(x => x.Email)
                        <i class="icon-user icon-large"></i>
                    </p>
                    <p class="field">
                        @Html.EditorFor(x => x.Login, new { htmlAttributes = new { placeholder = "Задайте логин" } })
                        @Html.ValidationMessageFor(x => x.Login)
                        <i class="icon-user icon-large"></i>
                    </p>
                    <p class="field">
                        @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { placeholder = "Введите имя" } })
                        @Html.ValidationMessageFor(x => x.FirstName)
                        <i class="icon-user icon-large"></i>
                    </p>
                    <p class="field">
                        @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { placeholder = "Введите фамилию" } })
                        @Html.ValidationMessageFor(x => x.LastName)
                        <i class="icon-user icon-large"></i>
                    </p>
                    <p class="field">
                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { placeholder = "Задайте пароль" } })
                        @Html.ValidationMessageFor(x => x.Password)
                        <i class="icon-user icon-large"></i>
                    </p>

                    <p class="submit">
                        <button type="submit" name="submit"><i class="icon-arrow-right icon-large">Зарегистрироваться</i></button>
                    </p>
                }
            </div>*@

    }
</body>
</html>