@using Mongo.Models.Recipe;
@model RecipeModel[]

@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/main_style.css">
}
<main class="recipes">
    <div class="container3">
        <div class="recipes__inner">
            <input type="text" class="recipes__input" placeholder="Поиск по рецептам">
            <div class="recipes__items">

                @if (Model.Count() > 2)
                {
                    <div class="recipes__items-1">
                        @for (int i = 0; i < 2; i++)
                        {
                            <div class="recipes__item-1">
                                <a href="@Url.ActionLink("Index", "Recipe", new { id = Model[i].Id })">

                                    <h2 class="recipes__title">
                                        @Model[i].Title
                                    </h2>
                                    <div class="recipes__time">@Model[i].CookingTimeMinutes минут</div>
                                    <div class="meal__items">
                                        <img class="meal__profile-img" src="images/page1/prifile.png" alt="">                                        
                                        <div class="meal__stars">@Model[i].Raiting</div>
                                    </div>

                                </a>
                            </div>
                        }
                    </div>
                    <div class="recipes__items-2">                        
                        @for (int i = 2; i < Model.Count(); i++)
                        {
                            <a href="@Url.ActionLink("Index", "Recipe", new { id = Model[i].Id })">
                                <div class="recipes__item-2">
                                    <h2 class="recipes__title">@Model[i].Title</h2>
                                    <div class="recipes__time">@Model[i].CookingTimeMinutes минут</div>
                                    <div class="bottom">
                                        <div class="meal__stars">@Model[i].Raiting</div>
                                    </div>
                                </div>
                            </a>
                        }                        
                    </div>

                }

            </div>
        </div>
    </div>
</main>